*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input_div{
    text-align: center;
    margin-top: 3vh;
}
.input{
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.input:hover{
    background-color: rgb(246, 157, 124);
}